@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

.containerCarousel{
    display: flex;
}

.carousel{
    display: flex;
    height: 50vw;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    
}

.imageCarousel{
    height: 30px;
    width: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.imageCarousel:hover{
    animation: arrowAnimation 1s infinite;
}

.imageCarousel.next{
    top: 20px;
    right: 30vw;
}

.imageCarousel.previous{
    bottom: 10px;
}

.carousel span{
    font-size: 30px;
}

.carousel .contents{
    height: 21vw;
    width: 50vw;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 5%;
    border: 3px dashed #470052;

    background-color: #CF01FF;
}

.carousel .imageProject{
    width: 300px;
    height: 200px;
    border: 2px solid bisque;
    border-radius: 10px;
    cursor: pointer;
}

.carousel .imageProject:hover{
    animation: projectAnimation 2s infinite;
}

.carousel .contents .description{
    font-family: Alkatra;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    line-height: 1.2;
    gap: 10px;
}

.containerCarousel .observerImage{
    height: 28em;
    width: 33em;
}


.containerDialog .dialogBoxCarousel{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-40%, 25%);
}


.dialogBoxCarousel .dialogBox{
    transform: scaleX(-1);
    height: 10em;
    width: 30em;
}


@keyframes arrowAnimation {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.0);
    }
}

@keyframes projectAnimation {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1.0);
    }
}








