@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.containerHome{
    height: 100vh;
    max-width: 100vw;
}

.myName{
    display: inline-block;
    position: relative;
}


.myName .name{
    position: absolute;
    font-family: Righteous;
    font-size: 40px;
    top: 0px;
    left: 10px;
}

.myName .dev{
    position: absolute;
    font-family: Righteous;
    font-size: 25px;
    color: #2c2c2c;
    top: 43px;
    left: 10px;
    list-style-type: circle;
} 

.myName .imagePaper{
    position: relative;
    height: 100px;
    width: 400px;
}

p{
    position: absolute;
}

.apresentationImage{
    display: flex;
    justify-content: flex-end;

}

.dialogBoxStart{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(40%, -25%);
}

.dialogBoxStart .dialogBox{
    transform: scaleX(-1);
    height: 10em;
    width: 30em;
}

.apresentationText{
    width: 25em;
    height: 6em;
    margin-bottom: 2em;
    padding-right: 8px;
    text-align: justify;
    overflow-y: scroll;
}


.sideMenu{
    position: fixed;
    top: 0;
    right: 0;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sideMenu .icon{
    width: 30px;
    filter: invert(1);
    transition: 0.2s ease-in-out;
}

.sideMenu .icon:hover{
    transform: scale(1.2);
}

.sideMenu ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2em;
}




